<% var gameCoverURL = 'https://images.igdb.com/igdb/image/upload/t_cover_big/'%>
<div class='divider-15'></div>

<div class='communitySetting'>
	<div><h1 class='communityName'><%= community.name %></h1></div>
	<div class='text-right'>
		<form method='POST' action='/community/join' class='form-group'>
			<input type='hidden' name='communityId' value='<%=community.id %>'>
			<button type='submit' class='btn btn-success raised'>Join Community</button>
		</form>
		<a href='/community/leave/<%=community.id %>' class='btn btn-danger raised leaveCommunityBtn'>Leave Community</a>
	</div>
</div>



<h1>Users</h1>
<div class='divider-10'></div>
<div class='shortList'>
	<% community.users.forEach(function(user) { %>
		<div class='userBox'>
			<img src='http://www.fillmurray.com/100/100'>
			<p><%= user.username %></p>
		</div>
	<% }); %>
</div>

<h1>Games</h1>
<div class='divider-10'></div>
<div class='row userGames'>
	<% games.forEach(function(game) { %>
		<div class='col-xs-6 col-sm-3 col-md-4 col-lg-6 gameContainer'>
			<div class='imgContainer'>
				<a href='/search/searchResult/<%=game.igdbId%>'>
					<img src='<%=gameCoverURL + game.cover %>' class='coverImgs'>
				</a>
			</div>
			<p class='text-center'><%= game.title %></p>
			<%= game.user.username %>
			<% if (game.user.id != currentUser.id && game.askerUsername != currentUser.username) { %>
				<form method='PUT' action='/account/request/<%= game.id %>' class='requestGame'>
					<button type='submit' class='btn'>
							Request 
							<span class='glyphicon glyphicon-new-window'></span>
					</button>
				</form>
			<% } %>
			<% if (game.askerUsername == currentUser.username && game.loaned == true) { %>
				<div>
					<form method='PUT' action='/account/return/<%= game.id %>' class='returnGame'>
						<button type='submit' class='btn'>
							Return <span class='glyphicon glyphicon-log-out'></span>
						</button>
					</form>
				</div>
			<% } %>


			
		</div>
	<% }); %>
</div>

<div class='divider-15'></div>



