<% var gameCoverURL = 'https://images.igdb.com/igdb/image/upload/t_cover_big/'%>
<div class='divider-15'></div>

<div class='communitySetting'>
	<div><h1 class='communityName'><%= community.name %></h1></div>
	<div class='text-right'>
		<form method='POST' action='/community/join' class='form-group'>
			<input type='hidden' name='communityId' value='<%=community.id %>'>
			<button type='submit' class='btn btn-success raised'>Join Community</button>
		</form>
		<a href='/community/leave/<%=community.id %>' class='btn btn-danger raised leaveCommunityBtn'>Leave Community</a>
	</div>
</div>

<h2>Users</h2>
<div class='divider-10'></div>
<div class='shortList containerBox'>
	<% community.users.forEach(function(user) { %>
		<div class='userBox'>
			<img src='http://lorempixel.com/100/100/'>
			<p><%= user.username %></p>
		</div>
	<% }); %>
</div>

<h2>Games</h2>
<div class='divider-10'></div>
<div class='row userGames containerBox'>
	<% games.forEach(function(game) { %>
		<div class='col-xs-12 col-sm-4 col-md-2 imgContainer'>
			<a href='/search/searchResult/<%= game.igdbId %>'>
				<img src='<%= gameCoverURL + game.cover %>' class='img-responsive'>
			</a>
			<p><%= game.title %></p>
			<p><%= game.user.username %></p>
		</div>
	<% }); %>
</div>

<div class='divider-15'></div>



