<% var gameCoverURL = 'https://images.igdb.com/igdb/image/upload/t_cover_big/'%>
<div class='divider-10'></div>

<% if (gamesRequested.length != 0 || gamesOnLoan.length != 0) { %>
	<h1>Game Requests</h1>
	<div class='loanList'>
		<!-- User's games that have been requested by others -->
		<div>
			<strong><p>Your Games requested to be loaned</p></strong>
			<% gamesRequested.forEach(function(game) { %>
				<div class='inlineLoan'>
					<div>
						<em><%= game.askerUsername %></em>: <%= game.title %>
					</div>
					<div>
						<form method='PUT' action='/account/accept/<%= game.id %>' class='acceptLoanRequest'>
							<button type='submit' class='loanBtn btn btn-success raised'>
								<span class='glyphicon glyphicon-ok'></span>
							</button>
						</form>

						<form method='PUT' action='/account/deny/<%= game.id %>' class='denyLoanRequest'>
							<button type='submit' class='loanBtn btn btn-danger raised'>
								<span class='glyphicon glyphicon-remove'></span>
							</button>
						</form>
					</div>
				</div>
			<% }) %>
		</div>
	
		<div>
			<!-- Games of the current user that are on loan -->
			<strong><p>Games On Loan</p></strong>
			<% gamesOnLoan.forEach(function(game) {%>
				<p><%=game.title%>: <%= game.askerUsername%></p>
			<% }) %>
		</div>
	</div>
<% } %>

	<!-- games the current user is loaning -->
	<% currentUserLoaning.forEach(function(game) { %>
		<p>curent user loaning: <%= game.askerUsername %></p>
	<% }) %>

<h1>Your Communities</h1>

<div class='shortList'>
	<a href='/community'>
		<div class='userBox text-center'>
			<div class='addBox communityAddBox'>
				<span class='glyphicon glyphicon-plus'></span>
			</div>
			<p class='text-center'>Find a Community</p>
		</div>
	</a>

	<% user.communities.forEach(function(community) { %>
		<div class='userBox text-center'>
			<a href='/community/<%= community.id %>'>
				<img src='http://lorempixel.com/100/100/'>
				<p><%= community.name %></p>
			</a>
		</div>
	<% }) %>
</div>

<h1>Games You Own</h1>
<div class='divider-10'></div>

<div class='row userGames'>
	<div class='col-xs-12 col-sm-4 col-md-2 imgContainer'>
		<a href='/search'>
			<div class='addBox gameAddBox'>
				<span class='glyphicon glyphicon-plus'></span>
			</div>
			<p class='text-center'>Add a Game</p>
		</a>
	</div>
	<% user.games.forEach(function(game) { %>
		<div class='col-xs-12 col-sm-4 col-md-2 imgContainer'>
			<a href='/search/searchResult/<%=game.igdbId%>'><img src='<%=gameCoverURL + game.cover %>' class='coverImgs'></a>
			<p><%= game.title %></p>
		</div>
	<% }) %>
</div>
