<% var gameCoverBigURL = 'https://images.igdb.com/igdb/image/upload/t_cover_big/'%>
<% var gameCoverSmallURL = 'https://images.igdb.com/igdb/image/upload/t_cover_small/'%>


<!-- games the current user is loaning -->
<% if (currentUserLoaning.length != 0 || currentUserLoanRequests.length != 0) { %>
	<h1>Games You Borrowed</h1>
	<div class='userLoanList'>
		<div>
			<strong><p>Games You have Requested</p></strong>
			<% currentUserLoanRequests.forEach(function(game) { %>
				<p><%=game.title%>: <%= game.user.username%></p>
			<% }) %>
		</div>

		<div class='userBorrowedHalf'>
			<strong class='userBorrowText'><p>Games You're Borrowing</p></strong>
			
			<div class='borrowGameContainer'>
				<% currentUserLoaning.forEach(function(game) { %>
					<div class='userLoanedInfoBox'>
						<div class='tinyCover'>
							<img src='<%=gameCoverSmallURL + game.cover %>' class='coverImgs'>
						</div>

						<div>
							<form method='PUT' action='/account/return/<%= game.id %>' class='returnGame'>
								<button type='submit' class='btn'>
									Return <span class='glyphicon glyphicon-log-out'></span>
								</button>
							</form>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
<% } %>

<% if (gamesRequested.length != 0 || gamesOnLoan.length != 0) { %>	
	
	<h1>Game Requests</h1>
	<div class='loanList containerBox'>
		<!-- User's games that have been requested by others -->
		<div>
			<strong><p>Your Games requested to be loaned</p></strong>
			<% gamesRequested.forEach(function(game) { %>
				<div class='inlineLoan'>
					<div>
						<em><%= game.askerUsername %></em>: <%= game.title %>
					</div>
					<div>
						<form method='PUT' action='/account/accept/<%= game.id %>' class='acceptLoanRequest'>
							<button type='submit' class='loanBtn btn btn-success raised'>
								<span class='glyphicon glyphicon-ok'></span>
							</button>
						</form>

						<form method='PUT' action='/account/deny/<%= game.id %>' class='denyLoanRequest'>
							<button type='submit' class='loanBtn btn btn-danger raised'>
								<span class='glyphicon glyphicon-remove'></span>
							</button>
						</form>
					</div>

					
				</div>
			<% }) %>
		</div>
	
		<div>
			<!-- Games of the current user that are on loan -->
			<strong><p>Games On Loan</p></strong>
			<% gamesOnLoan.forEach(function(game) {%>
				<p><%=game.title%>: <%= game.askerUsername%></p>
			<% }) %>
		</div>
	</div>
<% } %>

<h1>Your Communities</h1>
<div class='shortList containerBox'>
	<a href='/community'>
		<div class='userBox text-center'>
			<div class='addBox communityAddBox'>
				<span class='glyphicon glyphicon-plus'></span>
			</div>
			<p class='text-center'>Find a Community</p>
		</div>
	</a>

	<% user.communities.forEach(function(community) { %>
		<div class='userBox text-center'>
			<a href='/community/<%= community.id %>'>
				<img src='http://www.fillmurray.com/100/100'>
				<p><%= community.name %></p>
			</a>
		</div>
	<% }) %>
</div>

<h1>Games You Own</h1>
<div class='userGames'>

	<div class='gameContainer'>
		<div class='imgContainer'>
			<a href='/search'>
				<div class='addBox gameAddBox'>
					<span class='glyphicon glyphicon-plus'></span>
				</div>
			</a>
		</div>
		<a href='/search'><p class='text-center'>Add a Game</p></a>
	</div>

	<% user.games.forEach(function(game) { %>
		<div class='gameContainer'>
			<div class='imgContainer'>
				<a href='/search/searchResult/<%=game.igdbId%>'><img src='<%=gameCoverBigURL + game.cover %>' class='coverImgs'></a>
			</div>
			<p class='text-center'><%= game.title %></p>
		</div>
	<% }) %>
</div>



















