<% var gameCoverURL = 'https://images.igdb.com/igdb/image/upload/t_cover_big/'%>
<h1>Your Communities</h1>
<div class='divider-10'></div>

<div class='shortList'>
	<!-- User's games that have been requested by others -->
	<% gamesRequested.forEach(function(game) { %>
		<div>
			<%= game.title %>: <%= game.askerUsername %>
			
			<form method='PUT' action='/account/accept/<%= game.id %>' class='acceptLoanRequest'>
				<button type='submit' class='btn btn-success raised'>
					<span class='glyphicon glyphicon-ok'></span>
				</button>
			</form>

			<form method='PUT' action='/account/deny/<%= game.id %>' class='denyLoanRequest'>
				<button type='submit' class='btn btn-danger raised'>
					<span class='glyphicon glyphicon-remove'></span>
				</button>
			</form>
		</div>
	<% }) %>

	<!-- games the current user is loaning -->
	<% currentUserLoaning.forEach(function(game) { %>
		<p>curent user loaning: <%= game.askerUsername %></p>
	<% }) %>


	<!-- Games of the current user that are on loan -->
	<% gamesOnLoan.forEach(function(game) {%>
		<p><%=game.title%> on loan to <%= game.askerUsername%></p>
	<% }) %>
	<a href='/community'>
		<div class='userBox text-center'>
			<div class='addBox communityAddBox'>
				<span class='glyphicon glyphicon-plus'></span>
			</div>
			<p class='text-center'>Find a Community</p>
		</div>
	</a>
</div>

<div class='short list'>
	<% user.communities.forEach(function(community) { %>
		<div class='userBox text-center'>
			<a href='/community/<%= community.id %>'>
				<img src='http://lorempixel.com/100/100/'>
				<p><%= community.name %></p>
			</a>
		</div>
	<% }) %>
</div>

<h1>Games You Own</h1>
<div class='divider-10'></div>

<div class='row userGames'>
	<div class='col-xs-12 col-sm-4 col-md-2 imgContainer'>
		<a href='/search'>
			<div class='addBox gameAddBox'>
				<span class='glyphicon glyphicon-plus'></span>
			</div>
			<p class='text-center'>Add a Game</p>
		</a>
	</div>
	<% user.games.forEach(function(game) { %>
		<div class='col-xs-12 col-sm-4 col-md-2 imgContainer'>
			<a href='/search/searchResult/<%=game.igdbId%>'><img src='<%=gameCoverURL + game.cover %>' class='coverImgs'></a>
			<p><%= game.title %></p>
		</div>
	<% }) %>
</div>
