<% var gameCoverURL = 'https://images.igdb.com/igdb/image/upload/t_cover_big/'%>
<h1>Your Communities</h1>
<div class='divider-10'></div>

<div class='shortList'>
	
	<% games.forEach(function(game) { %>
		<p><%= game.title %></p>
		<p><%= game %></p>
	<% }) %>
	<!-- <a href='/community'>
		<div class='userBox text-center'>
			<div class='addBox communityAddBox'>
				<span class='glyphicon glyphicon-plus'></span>
			</div>
			<p class='text-center'>Find a Community</p>
		</div>
	</a> -->
	<% user.communities.forEach(function(community) { %>
		<div class='userBox text-center'>
			<a href='/community/<%= community.id %>'>
				<img src='http://lorempixel.com/100/100/'>
				<p><%= community.name %></p>
			</a>
		</div>
	<% }) %>
 </div>

<h1>Games You Own</h1>
<div class='divider-10'></div>

<div class='row userGames'>
	<div class='col-xs-12 col-sm-4 col-md-2 imgContainer'>
		<a href='/search'>
			<div class='addBox gameAddBox'>
				<span class='glyphicon glyphicon-plus'></span>
			</div>
			<p class='text-center'>Add a Game</p>
		</a>
	</div>
	<% user.games.forEach(function(game) { %>
		<div class='col-xs-12 col-sm-4 col-md-2 imgContainer'>
			<a href='/search/searchResult/<%=game.igdbId%>'><img src='<%=gameCoverURL + game.cover %>' class='coverImgs'></a>
			<p><%= game.title %></p>
		</div>
	<% }) %>
</div>
