<h1>Account</h1>
<% var gameCoverURL = 'https://images.igdb.com/igdb/image/upload/t_cover_big/'%>

<h1>Communities you belong to</h1>
<% user.communities.forEach(function(community) { %>
	<a href='/community/<%= community.id %>'><h2><%= community.name %></h2></a>
<!-- 	<p><%= community.description %></p>
 --><% }) %>


<h1>Games You Own</h1>
	<div class='row userGames'>
		<% user.games.forEach(function(game) { %>
			<div class='col-xs-3'>
				<div class='imgContainer'><img src='<%=gameCoverURL + game.cover %>' class='coverImgs'></div>
				<p><%= game.title %></p>
			</div>
		<% }) %>
	</div>
