<% 
var imageURL = 'https://images.igdb.com/igdb/image/upload/'
var coverExt = 't_logo_med/'
var bigImageExt = 't_screenshot_huge/'
var smallImageExt = 't_screenshot_med/'%>

<div class='divider-15'></div>
<% include partials/searchBar%>
<div class='divider-15'></div>

<div style='background-image:url("<%= imageURL + bigImageExt + gameData.screenshots[0].cloudinary_id%>")' class='coolBackground'>
	<div class='row'>
		<h1 class='text-center gameTitle'><%= gameData.name %></h1>
	</div>
</div>
	
<div class='row'>
	<div class='col-xs-offset-1 col-xs-1'>
		<img src='<%= imageURL + coverExt + gameData.cover.cloudinary_id %>' class='coverImg'>					
	</div>
	<div class='col-xs-1'>
		<form method='POST' action='/search/add'>
			<input type='hidden' name='gameId' value='<%= gameData.id %>'>
			<button type='submit' class='btn btn-primary gradient'>Add to Collection</button>
		</form>
	</div>
</div>
</div>


<div class='divider-15'></div>

<div class='row'>
	<div class='responsiveCarousel text-center'>
		<% gameData.screenshots.forEach(function(screenshot) { %>
			<div>
				<img src='<%= imageURL + smallImageExt + screenshot.cloudinary_id %>'>
			</div>
		<% }) %>
	</div>
</div>

<div class='row'>
	<h3 class='col-xs-offset-1 col-xs-11'>Storyline</h3>
	<div class='col-xs-offset-1 col-xs-10'>
		<%if (gameData.summary) { %>
		<p><%= gameData.summary %></p>
		<% } else { %>
		<p>no game summary available</p>
		<% }; %>
	</div>
</div>

<div class='divider-10'></div>

<!-- if game summary, else no game summary available -->